<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%baseEditor"
            default="true"
            id="org.eclipse.ui.forms.article.base-editor">
      </editor>
   </extension>
 
   <extension
         point="org.eclipse.ui.views">
      <category
            name="bugForecast"
            id="org.eclipse.ui.forms.article">
      </category>
      <view
            name="bugForecast"
            category="org.eclipse.ui.forms.article"
            class="bugforecast.FormView"
            id="org.eclipse.ui.forms.article.views.FormView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.eclipse.ui.forms.article.views.FormView">
         </view>
      </perspectiveExtension>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="bugforecast.FormView"
            class="bugforecast.FormView">
         <adapter
               type="bugforecast.FormView">
         </adapter>
      </factory>
   </extension>
</plugin>